@import '../../../../assets/scss/variables';
@import '~@angular/material/theming';


.sidenavmenu {
    margin-right: -16px;

    a {
        margin: 8px 0px;
        color: white;
        position: relative;
        z-index: 3;
        opacity: 0.8;
        text-decoration: none;
        display: block;
        padding: 8px 15px;
        line-height: 14px;
        font-size: 14px;
        border-radius: 5px 0px 0px 5px;

        &.active {
            background-color: map-get($prism-blue, A100);
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }
    }

    span {
        font-size: 15px;
        margin-top: 32px;
        display: block;
        margin-bottom: 16px;
    }
}


markdown::ng-deep {
    a {
        color: map-get($prism-blue, A700);
    }

    p {

        line-height: 24px;
    }

    h2 {
        margin-top: 36px;
    }

    h6 {
        background: map-get($prism-blue, 900);
        padding: 8px;
        margin-bottom: 0px;
        border-radius: 6px 6px 0px 0px;
        letter-spacing: 0.25px;
    }

    code {
        background: #0a162d;
        border: 1px solid black;
        padding: 4px;
        margin: 0px 3px;
        font-size: 11px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        @include mat-elevation(1);

        th {
            background: darken(map-get($prism-blue, 900), 10%);
            border: 1px solid black;
            border-bottom: 0px;
            border-top: 0px;

            text-align: left;
            padding: 8px;

            &:first-of-type {
                border-left: 0px;
            }

            &:last-of-type {
                border-right: 0px;
            }
        }

        tr {
            background: #2d333c;

            &:nth-of-type(2n+1) {
                background: #121923;
            }

            &:first-of-type {
                td {
                    border-top: 0px;
                }
            }

            &:last-of-type {
                td {
                    border-bottom: 0px;
                }
            }
        }

        td {
            border: 1px solid black;
            padding: 6px;

            &:first-of-type {
                border-left: 0px;
            }

            &:last-of-type {
                border-right: 0px;
            }
        }
    }
}