<prism-layout>

    <div layout-sidenav class="sidenavmenu">
        <a [routerLink]="['../changelog']" routerLinkActive='active'>Change Log</a>
        <a [routerLink]="['../intro']" routerLinkActive='active'>Intro</a>

        <span>OAuth2</span>
        <a [routerLink]="['../oauth']" routerLinkActive='active'>Getting started</a>

    </div>


    <div layout-content>
        <markdown *ngIf="(currentDoc$ | async); let currentDoc" [src]="'docs/' + currentDoc + '.md' "></markdown>
    </div>

</prism-layout>