@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import 'assets/scss/variables';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config($font-family: 'Lato, monospace');
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($prism-blue);
$candy-app-accent: mat-palette($mat-cyan);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$prism-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


$background-palette: (status-bar: green,
    app-bar: map_get($prism-blue, 700),
    background: #1c2737,
    hover: rgba(white, 0.04),
    card: desaturate(map_get($prism-blue, 500), 33%),
    dialog: map_get($prism-blue, 900),
    disabled-button: $white-12-opacity,
    raised-button: map-get($mat-grey, 800),
    focused-button: $white-6-opacity,
    selected-button: map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($mat-grey, 700),
    disabled-list-option: black,
);

$background: map-get($prism-app-theme, background);
$background: map_merge($background, $background-palette);
$prism-app-theme: map_merge($prism-app-theme, (background: $background));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($prism-app-theme);

body {
    background-color: #1c2737;
    font-family: "Lato";
    margin: 0px;
}

.mat-display-1,
.mat-display-2,
.mat-display-3,
.mat-display-4,
.mat-h1,
.mat-headline,.mat-h2,
.mat-title,.mat-h3,
.mat-subheading-2,.mat-h4,
.mat-subheading-1,h1,h2,
h3,
h4,
h5,
h6 {
    font-family: "Electrolize";
}


hr {
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    @include mat-elevation(1);

}