<img src="/assets/images/prism.png" alt="logo" class="bgLogo">

<div class="">

    <mat-card *ngIf="!(user$ | async)">
        <mat-card-header>
            <mat-card-title>
                {{ "SPECTRUM.ACCESS_CODE" | translate }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ "SPECTRUM.AUTHENTICATE_WITH_SPECTRUM" | translate }}
            </mat-card-subtitle>

            <img src="/assets/images/prism.png" alt="logo">
        </mat-card-header>
        <mat-card-content>
            <time *ngIf="code$|async">
                <mat-icon>access_time</mat-icon>
                <countdown [config]="config"></countdown>
            </time>

            <p class="explain" *ngIf="!(code$ | async)">
                {{ "SPECTRUM.EXPLAIN" | translate }}
            </p>


            <p class="explain" *ngIf="(code$ | async)">
                {{ "SPECTRUM.HOW_TO_USE_CODE" | translate }}
            </p>

            <div class="code" *ngIf="code$|async; let code">
                <pre>{{  code?.code }}</pre>
                <button mat-icon-button [matTooltip]="'SPECTRUM.COPY_TO_CLIPBOARD' | translate"
                    (click)="copyCode(code?.code)">
                    <mat-icon>assignment</mat-icon>
                </button>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'COMMON.HANDLE' | translate }}</mat-label>
                <input matInput [placeholder]="'COMMON.HANDLE' | translate" [(ngModel)]="handle">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="fetchCode()" [disabled]="!handle" color="primary">Get a code</button>
            <a mat-stroked-button href="https://robertsspaceindustries.com/spectrum/messages/member/523490"
                target="_blank" color="primary" *ngIf="(code$ | async)?.code">Take me to
                spectrum</a>
        </mat-card-actions>
    </mat-card>


    <mat-card *ngIf="(user$ | async); let user">

        <mat-card-title></mat-card-title>


        <mat-card-content>
            <p> Congrats, you are now logged-in as {{ user.handle }} </p>

            <a [routerLink]="['/dashboard'] | localize" mat-stroked-button>Go to dashboard</a>
        </mat-card-content>
    </mat-card>
</div>