@import '~@angular/material/theming';
@import '../../../../assets/scss/variables';

:host() {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    .bgLogo {
        display: none;
        width: 75%;
        position: absolute;
        top: 24px;
        opacity: 0.5;


        @media (max-width: 530px) {
            display: block;
        }
    }
    mat-card {
        width: 450px;
        min-height: 300px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: desaturate(darken(map-get($prism-blue, 800), 16%), 25%);
        @include mat-elevation(3);


        .mat-card-header {
            margin: -16px;
            width: calc(100% + 32px);
            background-color: map-get($prism-blue, 500);
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 32px;
            padding-left: 42px;
            position: relative;
            z-index: 1;
            @include mat-elevation(1);

            mat-card-title {
                font-family: 'Lato';
                font-weight: bolder;
                margin: 0px;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }

            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 24px;
            }
        }

        .mat-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            height: 100%;
            width: 100%;

            p.explain {
                margin-top: 32px;
                text-align: center;
            }

            .mat-form-field {
                flex-grow: 0;
                width: 50%;
            }
        }

        time {
            font-family: "Electrolize";
            text-align: center;
            display: flex;
            font-size: 14px;
            letter-spacing: 3px;
            background: #371c1c;
            padding: 15px 0px;
            margin-top: 3px;
            width: calc(100% + 32px);
            opacity: 0.8;
            z-index: 0;
            align-items: center;
            justify-content: center;

            >mat-icon {
                line-height: 14px;
                font-size: 14px;
                width: 14px;
                height: 14px;
                margin-right: 8px;
            }
        }

        .code {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            pre {
                display: block;
                border-radius: 5px;
                text-align: center;
                padding: 15px;
                font-size: 24px;
                line-height: 28px;
                font-family: "Electrolize";
                letter-spacing: 10px;
            }

        }

        mat-card-actions {
            >* {
                margin: 0px 8px;
            }
        }

        @media (max-width: 530px) {
            width: calc(100% - 80px);
            margin: 0px 24px;
            .mat-card-header {
                img {
                    display: none;
                }
            }

            .mat-card-content {
                .mat-form-field {
                    width: 100%;
                    margin-top: 12px;
                }
            }

            mat-card-actions {
                button, a {
                    margin: 4px 0px;
                    width: 100%;
                }
            }
        }


        @media (max-width: 330px) {
            min-height: 390px;
        }
    }
}