<ng-container *ngIf="!validUrl">
    <div class="error">
        <mat-icon>bug_report</mat-icon>
        <h2 class="mat-display-1">{{ "OAUTH.SOMETHING_WENT_WRONG" | translate }}</h2>
        <em class="mat-headline">{{ "OAUTH.YOU_CAN_CLOSE_THIS_TAB" | translate }}</em>
    </div>
</ng-container>

<ng-container *ngIf="validUrl">
    <div class="card" *ngIf="(application$ | async); let application">
        <div class="header">
            <div class="left">
                <h2 class="mat-headline">{{ "OAUTH.CONNECT_VIA_PRISM" | translate }} </h2>
                <h1 class="mat-display-2">{{ application.name }}</h1>
            </div>

            <div class="imageHolder" [style.background-image]="'url('+application.logo+')'"></div>
        </div>

        <div class="content">
            <em>{{ "OAUTH.WILL_AUTHORIZE1" | translate }} {{ application.name }} {{ "OAUTH.WILL_AUTHORIZE2" | translate }} </em>

            <ul>
                <li><mat-icon>check</mat-icon> {{ "OAUTH.SCOPES.IDENTIFY" | translate }} </li>
            </ul>


        </div>

        <div class="warning">
            <p>
                <mat-icon>lock</mat-icon>
                {{ application.name }} <span [innerHTML]="'OAUTH.SECURITY_DISCLAIMER' | translate"></span>
            </p>
        </div>

        <div class="actions">
            <button mat-button>{{ "COMMON.CANCEL" | translate }}</button>
            <a mat-raised-button color="primary" [href]="url">{{ "COMMON.AUTHORIZE" | translate }}</a>
        </div>
    </div>
</ng-container>