@import '../../../../assets/scss/variables';
@import '~@angular/material/theming';

:host() {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    div.error {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        mat-icon {
            height: 75px;
            width: 75px;
            font-size: 75px;
        }

        h2 {
            margin-bottom: 0px;
            line-height: 3rem;
            text-transform: uppercase;
        }

        em {
            opacity: 0.7f;
        }
    }


    div.card {
        width: 500px;
        min-height: 350px;
        background-color: desaturate(darken(map-get($prism-blue, 800), 16%), 25%);
        border-radius: 10px;
        overflow: hidden;
        @include mat-elevation(2);
        color: white;
        display: flex;
        flex-direction: column;

        .header {
            background-color: map-get($prism-blue, 500);
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 32px;
            position: relative;
            @include mat-elevation(3);

            h1 {
                font-family: 'Lato';
                font-weight: bolder;
                margin: 0px;
                letter-spacing: 2px;
            }

            h2 {
                margin: 0px;
                text-transform: uppercase;
                opacity: 0.7;
                letter-spacing: 2px;
            }

            .imageHolder {
                height: 95px;
                width: 95px;
                background-color: grey;
                border: 5px solid map-get($prism-blue, 300);
                border-radius: 50%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                bottom: -47.5px;
                right: 16px;
                @include mat-elevation(4);
            }
        }

        .content {
            padding: 32px;
            flex-grow: 1;

            em {
                font-family: 'Lato';
                text-transform: uppercase;
                opacity: 0.7;
                font-size: 11px;
                letter-spacing: 2px;
                font-style: none;
                margin-bottom: 48px;
                display: block;
            }

            ul {
                list-style: none;
                li {
                    display: flex;
                    mat-icon {
                        background: green;
                        border: 3px solid lightgreen;
                        margin-right: 16px;
                        border-radius: 50%;
                        padding: 4px;
                    }
                }
            }
        }

        .warning {
            background-color: desaturate(map-get($prism-blue, 500), 25%);
            font-size: 14px;
            padding: 6px 32px;
            display: flex;
            margin: 12px 0px;

            p {
                text-align: center;
                margin: 0px;
            }

            mat-icon {
                font-size: 14px;
                height: 14px;
                width: 14px;
            }
        }

        .actions {
            flex-shrink: 0;
            padding: 16px;
            justify-content: flex-end;
            display: flex;

            >button {
                margin: 0px 8px;
                min-width: 90px;
            }

        }
    }
}