:host() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;

    .title {
        margin-top: 208px;

        h1 {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 0px;
            font-family: "Lato";
            letter-spacing: 0.5rem;
        }

        em {
            text-transform: uppercase;
            text-align: center;
            display: block;
            width: 100%;
        }

        img {
            position: absolute;
            opacity: 0.7;
            z-index: -1;
            top: 30px;
            height: 350px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .info {
        margin-top: 64px;
        margin-bottom: 64px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        .wrapper {
            max-width: 1050px;
            >p {
                text-align: justify;
                font-size: 1.15rem;
                letter-spacing: 0.1rem;
            }
        }
    }

    .wrapper {
        max-width: 1500px;
        width: 100%;
    }

    .stepper {
        margin-top: 64px;
        margin-bottom: 164px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

        .mat-stepper-vertical {
            background-color: transparent;
        }
    }

    .content {
        width: 100%;
        background: #98abc3;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-bottom: 48px;
        padding-top: 64px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 105%;
            height: 300px;
            transform: rotate(2deg);
            background: #98abc3;
            top: -60px;
            left: -5px;
        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;

            h2 {
                width: 100%;
            }

            >section {
                margin: 0px 32px;
                width: calc(33% - 64px);

                >mat-card::ng-deep {
                    mat-card-header {

                        mat-card-title,
                        .mat-card-header-text {
                            text-align: center;
                            display: block;
                            width: 100%;
                        }

                        mat-card-title {
                            margin-top: 42px;
                            margin-bottom: 24px;
                        }

                        mat-icon {
                            background: #1c2737;
                            border-radius: 50%;
                            padding: 5px;
                            width: 55px;
                            height: 55px;
                            font-size: 55px;
                            position: absolute;
                            top: -30px;
                            left: calc(50% - 32.5px);
                            border: 3px solid #4f5a69;
                        }
                    }

                    mat-card-content {
                        text-align: justify;
                    }
                }
            }
        }
    }
}