<div class="title">

    <img src="assets/images/prism.png" alt="logo">

    <h1 class="mat-display-4">Prism Auth</h1>
    <em class="mat-headline">{{ "HOME.HEADLINE" | translate }}</em>

    <!-- <button mat-button>Get Started</button> -->
</div>

<div class="info">
    <div class="wrapper">
        <p>{{ "HOME.INFO.P1" | translate }}</p>
        <p>{{ "HOME.INFO.P2" | translate }}</p>
        <p>{{ "HOME.INFO.P3" | translate }}</p>
        <p>{{ "HOME.INFO.P4" | translate }}</p>
        <p [innerHtml]='"HOME.INFO.P5" | translate'></p>
    </div>
</div>

<div class="stepper">
    <div class="wrapper">
        <h2 class="mat-display-1">{{ "HOME.EASY_AS_HEADLINE" | translate }}</h2>
        <mat-vertical-stepper>
            <mat-step [label]="'HOME.STEPPER.ONE.TITLE' | translate">
                <div class="section-wrap">
                    <div class="left">
                        <p>{{ 'HOME.STEPPER.ONE.TEXT' | translate }}</p>
                    </div>
                    <div class="right">
                        <em>08:55</em>
                        <pre>Xd7r9l</pre>

                        <mat-form-field>
                            <input matInput [placeholder]="'COMMON.HANDLE' | translate" value="Croberts69"
                                disabled="true">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step [label]="'HOME.STEPPER.TWO.TITLE' | translate">
                <div class="section-wrap">
                    <div class="left">
                        <p>{{ 'HOME.STEPPER.TWO.TEXT' | translate }}</p>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </mat-step>
            <mat-step [label]="'HOME.STEPPER.THREE.TITLE' | translate">
                <div class="section-wrap">
                    <div class="left">
                        <p>{{ 'HOME.STEPPER.THREE.TEXT' | translate }}</p>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <section>
            <mat-card>
                <mat-card-header>
                    <mat-icon>supervisor_account</mat-icon>
                    <mat-card-title class="mat-title">{{'HOME.CARDS.ONE.TITLE' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body">{{'HOME.CARDS.ONE.TEXT_1' | translate}}</p>

                    <p class="mat-body">{{'HOME.CARDS.ONE.TEXT_2' | translate}}</p>
                </mat-card-content>
            </mat-card>
        </section>
        <section>
            <mat-card>
                <mat-card-header>
                    <mat-icon>bug_report</mat-icon>
                    <mat-card-title class="mat-title">{{'HOME.CARDS.TWO.TITLE' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body">{{'HOME.CARDS.TWO.TEXT_1' | translate}}</p>

                    <p class="mat-body">{{'HOME.CARDS.TWO.TEXT_2' | translate}}</p>
                </mat-card-content>
            </mat-card>
        </section>
        <section>
            <mat-card>
                <mat-card-header>
                    <mat-icon>security</mat-icon>
                    <mat-card-title class="mat-title">{{ 'HOME.CARDS.THREE.TITLE' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="mat-body" [innerHtml]="'HOME.CARDS.THREE.TEXT_1' | translate"></p>

                    <p class="mat-body">{{ 'HOME.CARDS.THREE.TEXT_2' | translate }}</p>
                </mat-card-content>
            </mat-card>
        </section>
    </div>
</div>

<footer>
    <p>Provided as is blablabla</p>
</footer>