@import '../../../../assets/scss/variables';

mat-sidenav-container {
    min-height: calc(100vh - 64px);
}

mat-sidenav::ng-deep {
    width: 610px;
    background-color: darken(#1c2737, 2%);
    height: 100%;
    border: 0px;

    .mat-drawer-inner-container {
        display: flex;
        justify-content: flex-end;

        .sidenav-wrapper {
            width: 260px;
            padding: 16px;
        }
    }
}

mat-sidenav {
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(assets/images/mobi-blueprint.jpg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: -50px calc(100% + 50px);
        opacity: 0.1;
        right: 0px;
        bottom: 0px;
        z-index: -1;
    }
}

.content-wrapper {
    padding: 16px;
}