<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [opened]="true">
        <div class="sidenav-wrapper">
            <ng-content select="[layout-sidenav]"></ng-content>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-wrapper">
            <ng-content select="[layout-content]"></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>