div.language-picker {
    position: relative;
    width: 100%;
    height: 100%;  
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    img {
        width: 30px;
        height: 30px;
    }
}