<prism-layout>

    <div layout-sidenav>
        <h2>Welcome!</h2>
        <p>This site is home to all developement on Prism. You'll see all the apps you've already created and be able to tweak them</p>
        <p>Get started by creating a new application. We can't wait to see what you make!</p>
    </div>


    <div layout-content>

        <mat-toolbar>
            Applications

            <button mat-button (click)="popupCreateApplication()"><mat-icon>add</mat-icon> Create application</button>
        </mat-toolbar>


        <hr />

        <div class="applications" *ngIf="(devClients$ | async); let devClients">

            <a class="client" *ngFor="let client of devClients" [routerLink]="[client.client_id] | localize">
                <div class="imgHolder" [style.background-image]="'url('+client.logo+')'"></div>
                <span>{{client.name}}</span>
            </a>
        </div>
    </div>

</prism-layout>