@import '../../../../assets/scss/variables';
@import '~@angular/material/theming';

mat-toolbar {
    background: transparent;
    justify-content: space-between;
}
.applications {
    display: flex;
}

.client {
    background-color: darken(#1c2737, 2%);
    padding: 16px;
    width: 200px;
    height: 240px;
    margin: 16px;
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.25s;
    border-radius: 5px;
    @include mat-elevation(1);

    &:hover {
        // border: 3px solid cyan;
        @include mat-elevation(10);
    }

    .imgHolder {
        background-color: rgb(95, 95, 95);
        width: 200px;
        height: 200px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    span {
        text-align: center;
        display: block;
        margin-top: 16px;
    }
}