<prism-layout>

    <div layout-sidenav>
        <h2>Wow!</h2>
    </div>


    <div layout-content>
        <ng-container *ngIf="client$ | async; let client">
            <form [formGroup]="formGroup">

                <h3 class="subtitle">General settings</h3>

                <div class="left">
                    <div class="img">
                        <div class="imgHolder" [style.background-image]="'url('+formGroup.get('logo').value+')'"></div>
                        <mat-form-field appearance="outline">
                            <mat-label>Application Logo</mat-label>
                            <input matInput placeholder="Logo url (.png or .jpg)" formControlName="logo">
                        </mat-form-field>
                    </div>
                </div>
                <div class="right">
                    <mat-form-field appearance="outline">
                        <mat-label>Application name</mat-label>
                        <input matInput placeholder="Application name" formControlName="name">
                    </mat-form-field>

                    <div class="row">
                        <div class="col">
                            <mat-label>Client ID</mat-label>
                            <pre>{{ client.client_id }}</pre>
                        </div>
                        <div class="col">
                            <mat-label>Client Secret</mat-label>
                            <pre>{{ client.client_secret }}</pre>
                        </div>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Description (Maximum 400 characters)</mat-label>
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>

                    <mat-divider></mat-divider>

                    <div class="sub">
                        <h3 class="subtitle">Redirect URIs <button mat-button (click)="addUri()">Add URI</button></h3>
                        <em>You must specify at least one URI for authentication to work. If you pass a URI in an OAuth
                            request,
                            it must exactly match one of the URIs you enter here.</em>
                    </div>

                    <ng-container [formArrayName]="redirect_uris">
                        <mat-form-field appearance="outline"
                            *ngFor="let item of formGroup.get('redirect_uris').controls; let i = index;" class="uris">
                            <mat-label>Callback URI {{ i + 1 }}</mat-label>
                            <input matInput placeholder="URI" [formControl]="item" type="url">

                            <button mat-icon-button matSuffix color="warn" (click)="removeUri(i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </ng-container>
                    
                </div>





                <div class="actions">
                    <button type="submit" mat-stroked-button color="primary" (click)="update()"
                        [disabled]="formGroup.invalid">Save</button>
                    <button mat-stroked-button color="warn">Delete</button>
                </div>
            </form>
        </ng-container>
    </div>

</prism-layout>