form {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;

    .left {
        margin-right: 32px;
        flex-shrink: 0;
        .img {
            margin: 16px 0px;

            .imgHolder {
                width: 200px;
                height: 200px;
                background-color: grey;
                margin-bottom: 12px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

    }

    .right {
        flex-grow: 1;
        >* {
            width: 100%;
            margin: 16px 0px;
            &.uris {
                margin: 4px 0px;
            }
        }


        .row {
            display: flex;

            >* {
                width: 50%;
            }
        }
    }

    .subtitle,mat-divider {
        width: 100%;
    }
    
    mat-divider {
        margin-top: 46px;
    }

    .actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        >* {
            margin: 0px 6px;
            min-width: 130px;
        }
    }
}