<h1 mat-dialog-title>CREATE AN APPLICATION</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="applicationName" placeholder="Application name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="applicationName" cdkFocusInitial>Create</button>
</div>