<mat-toolbar>
    <div class="left">
        <button mat-icon-button (click)="sidenav=!sidenav">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Prism</span>
    </div>

    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of links" [routerLink]="link.link | localize" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>

    <div class="right">
        <mat-slide-toggle>
            ev mode
        </mat-slide-toggle>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>